@import '../../assets/home/scss/variables';

main.about {
  h1 {
    font-size: 3.5rem;
    line-height: 1.52;
    margin-bottom: 2rem;
  }
  h2 {
    display: none !important;
    font-size: 2.875rem;
    line-height: 1.42;
    width: 100%;
    text-align: center;
    margin-bottom: 7.5rem;
    span {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        z-index: -1;
        background-color: #ffd17a;
        top: 30px;
        left: 0;
        width: 100%;
        height: 17px;
      }
    }
  }
  h5 {
    font-size: 1.25rem;
    line-height: 1.25;
    color: $purple;
  }
  h4,
  li,
  a {
    font-size: 1.375rem;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 1.5rem;
    span {
      color: #ed71a5;
    }
  }
  li {
    font-size: 1.375rem;
    line-height: 3rem;
    font-weight: 400;
    margin-bottom: 0;
  }
  a {
    font-size: 1.375rem;
    line-height: 1.5;
    color: $secondColor;
    font-weight: 400;
  }
  p {
    font-size: 1.25rem;
    line-height: 1.25;
    margin-bottom: 2.5rem;
    text-align: left;
    font-weight: 400;
    color: #707070;
  }
  .particle {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    canvas {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .help {
    padding: 7.75rem 0 4rem 0;
    text-align: center;
    .helpInner {
      margin-top: 2.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        max-width: 400px;
        line-height: 1.5;
        margin-bottom: 0;
      }
    }
    .helpRight {
      width: 48%;
      margin: 0 auto;
      svg {
        width: 100%;
      }
    }
  }
  .common {
    padding: 4rem 0 6rem 0;
    .commonInner {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      .commonLeft {
        width: 55%;
        margin: 0 auto;
      }
      .commonTop {
        display: none;
      }
      .commonRight {
        display: none !important;
        width: 28%;
        .commonCategories,
        .commonLearn {
          border: 0.25rem solid $secondColor;
          padding: 2.6875rem 3.25rem 1.6875rem 3.25rem;
          box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
          border-radius: 0.625rem;
          text-align: center;
        }
        .commonCategories {
          margin-bottom: 1rem;
          h4 {
            margin-bottom: 1rem;
          }
          ul {
            li {
              cursor: pointer;
              border: 0.125rem solid transparent;
              padding: 0.75rem;
              line-height: 1;
              border-radius: 0.3125rem;
              margin-bottom: 0.25rem;
              &.active,
              &:hover,
              &:active {
                border: 0.125rem solid $secondColor;
                box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
              }
              &:active {
                opacity: 0.7;
              }
            }
          }
        }
        .commonLearn {
          padding: 2.6875rem 2.5rem 2.6875rem 2.5rem;
          img {
            width: 2.25rem;
            margin-bottom: 1.75rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  main.about {
    h1 {
      font-size: 1.875rem;
      line-height: 1.52;
      margin-bottom: 1.75rem;
    }
    h2 {
      font-size: 1.25rem;
      line-height: 1.85;
      margin-bottom: 2.5rem;
      span {
        &:before {
          top: 13px;
          height: 10px;
        }
      }
    }
    h4 {
      font-size: 1.125rem;
      margin-bottom: 0.75rem;
    }
    h5 {
      font-size: 1rem;
      margin-bottom: 3.25rem;
    }
    li,
    a {
      font-size: 1rem;
    }
    p {
      font-size: 1rem;
      line-height: 1.5625;
      margin-bottom: 1.75rem;
    }
    .help {
      padding: 2rem 0 4rem 0;
      .helpInner {
        margin-top: 0;
      }
      .helpRight {
        width: 51%;
      }
    }
    .common {
      padding: 2.5rem 0 7.5rem 0;
      .commonInner {
        .commonLeft {
          width: 100%;
          margin-bottom: 5.25rem;
        }
        .commonRight {
          width: 100%;
          .commonCategories {
            padding: 2rem 1rem;
            display: none;
            margin-bottom: 2.25rem;
            h4 {
              margin-bottom: 2rem;
            }
            ul {
              display: flex;
              align-items: center;
              justify-content: space-between;
              max-width: 700px;
              margin: 0 auto;
              li {
                padding: 0;
                border: none;
                box-shadow: none;
                margin-bottom: 0;
                &.active,
                &:hover,
                &:active {
                  color: $secondColor;
                  border: none;
                  box-shadow: none;
                }
                &:active {
                  opacity: 0.7;
                }
              }
            }
          }
          .commonLearn {
            max-width: 443px;
            margin: 0 auto;
            padding: 2rem 4rem 1.5rem 4rem;
            h4 {
              font-size: 1.25rem;
            }
            img {
              margin-bottom: 0.25rem;
            }
          }
        }
        .commonTop {
          display: block;
          .commonLearn {
            display: none;
          }
          .commonCategories {
            display: block;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  main.about {
    p {
      font-size: 0.875rem;
      line-height: 1.28;
      margin-bottom: 1.25rem;
    }
    h2 {
      margin-bottom: 1.75rem;
    }
    h4 {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    h5 {
      font-size: 0.875rem;
      color: $blackColor;
      font-weight: 400;
      margin-bottom: 1.25rem;
    }
    li,
    a {
      font-size: 0.875rem;
    }
    p {
      font-size: 0.875rem;
    }
    .help {
      padding: 0;
      h1 {
        font-size: 1.25rem;
        line-height: 1.5;
        background-color: $purple;
        color: $whiteColor;
        opacity: 1;
        width: 100vw;
        left: -1.1875rem;
        position: relative;
        z-index: 1;
        box-shadow: 0 8px 20px 0 rgba(21, 67, 202, 0.22);
        border-radius: 0 0 50px 50px;
        padding: 0 0 1rem 0;
      }
      .helpInner {
        flex-direction: column-reverse;
      }
      .helpRight {
        width: 72%;
        margin-bottom: 2.75rem;
      }
    }
    .common {
      padding: 0 0 3rem 0;
      .commonInner {
        .commonRight {
          .commonCategories {
            padding: 2.5rem 1rem;
            h4 {
              font-size: 1.375rem;
              margin-bottom: 1rem;
            }
            ul {
              flex-direction: column;
              li {
                border: 0.125rem solid transparent;
                line-height: 1;
                border-radius: 0.3125rem;
                margin-bottom: 0.25rem;
                padding: 0.625rem 1.625rem;
                &.active,
                &:hover,
                &:active {
                  border: 0.125rem solid $secondColor;
                  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
                }
                &:active {
                  opacity: 0.7;
                }
              }
            }
          }
          .commonLearn {
            padding: 2rem 0.5rem 1.5rem 0.5rem;
            h4 {
              font-size: 1rem;
            }
            img {
              margin-bottom: 0.5rem;
            }
          }
        }
        .commonLeft {
          margin-bottom: 1.75rem;
        }
      }
    }
  }
}

// animations
@media screen and (min-width: 767px) {
  .about {
    section {
      overflow: hidden;
    }
    .help {
      h1,
      h5 {
        opacity: 0;
        transform: translate(600px, 0);
      }
      .helpRight {
        opacity: 0;
        transform: translate(0, 600px);
      }
    }
    .common {
      h2 {
        opacity: 0;
        transform: translate(600px, 0);
      }
      .commonTop {
        opacity: 0;
        transform: translate(-600px, 0);
      }
      .commonLeft {
        opacity: 0;
        transform: translate(-600px, 0);
      }
      .commonRight {
        opacity: 0;
        transform: translate(600px, 0);
      }
    }
  }
}
